<div class="demo-note-detail" fxLayout="column" fxFill>
  <h3>ID: {{id}}</h3>
  <div *ngIf="isEdit">
    <form novalidate [formGroup]="addNoteForm" [ngClass]="{'submitted': submitted}">
      <mat-form-field class="demo-note-detail__edit-note">
        <textarea matInput formControlName="note"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="!isEdit">
    <h2>{{note?.title}}</h2>
  </div>


  <div fxFlex="*" fxLayoutAlign="start end" fxLayoutGap="20px">
    <button mat-stroked-button color="warn" (click)="deleteNote()"  *ngIf="!isEdit">
      {{ 'NOTE_DETAIL.DELETE' | translate }}
    </button>

    <button mat-stroked-button (click)="isEdit = !isEdit"  *ngIf="!isEdit">
      {{ 'NOTE_DETAIL.EDIT' | translate }}
    </button>

    <button mat-stroked-button (click)="updateNote()" *ngIf="isEdit">
      {{ 'NOTE_DETAIL.SAVE' | translate }}
    </button>
  </div>

</div>
