<div class="demo-note-list" flex>


  <mat-card fxFlex="30">
    <div fxLayoutAlign="end">
      <button mat-mini-fab
              (click)="showAddForm = !showAddForm"
              title="{{ 'NOTE_LIST.ADD_NOTE' | translate }}">
        <mat-icon md-list-icon>add</mat-icon>
      </button>
    </div>

    <div class="demo-note-list__add-note-form" *ngIf="showAddForm">
      <form novalidate [formGroup]="addNoteForm" [ngClass]="{'submitted': submitted}" (ngSubmit)="addNote()">
        <mat-form-field class="demo-note-list__add-note-input">
          <textarea matInput placeholder="{{ 'NOTE_LIST.ADD_NOTE' | translate }}" formControlName="note"></textarea>
        </mat-form-field>
      </form>
      <div fxLayoutAlign="end">
        <button mat-button (click)="addNote()">{{ 'NOTE_LIST.ADD' | translate }}</button>
      </div>
    </div>


    <mat-list>
      <h2 md-subheader>{{ 'NOTE_LIST.NOTES' | translate }}</h2>
      <mat-list-item *ngFor="let note of noteList" class="demo-note-list__note">
        <mat-icon md-list-icon>note</mat-icon>
        <a [routerLink]="[note.id]" *ngIf="note?.title">
          {{note?.title}}
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-list>
  </mat-card>

  <div fxFlex="1"></div>

  <mat-card fxFlex="69">
    <router-outlet></router-outlet>
  </mat-card>

</div>
