<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-app-background basic-container">
  <demo-spinner></demo-spinner>
  <mat-card>
    <section class="mat-typography">
      <mat-card-title>Demo</mat-card-title>

      <mat-select #langSelect (change)="changeLang($event)">
        <mat-option *ngFor="let lang of langList" [value]="lang" >{{ lang }}</mat-option>
      </mat-select>
      {{ 'APP.CHANGE_LANGUAGE' | translate }}

      <router-outlet></router-outlet>

    </section>
  </mat-card>
</div>
